In [1]:
import pandas as pd
df = pd.read_csv('Pregnancy Risk.csv')
df.sample(5)

,Unnamed: 0,Age,Height,Weight,BMI,Blood Group ( is Negative?),Delivery Type,Systolic Blood Pressure,Diastolic Blood Pressure,Edema,Anemia,Jaundice,Diabetes,Risk
256,256,24,5.3,54.0,21.09,No,Normal,130,80,Normal,Modarate,No,No,No
43,43,19,4.8,41.3,20.41,No,No_delivary,100,60,Normal,Normal,No,No,Yes
189,189,20,5.2,52.5,21.17,No,Normal,140,80,Normal,Normal,No,No,Yes
201,201,36,5.3,68.6,26.79,No,C-section,120,70,Normal,Normal,No,No,Yes
109,109,25,5.1,66.0,27.49,No,No_delivary,100,80,Modarate,Normal,No,No,No

In [2]:
df1 = df.drop(['Unnamed: 0'],axis=1)
df1.head(5)

,Age,Height,Weight,BMI,Blood Group ( is Negative?),Delivery Type,Systolic Blood Pressure,Diastolic Blood Pressure,Edema,Anemia,Jaundice,Diabetes,Risk
0,25,5.3,50.7,19.80,No,No_delivary,110,90,Normal,Normal,No,No,No
1,30,5.0,86.3,37.16,No,Normal,110,80,Normal,Normal,No,No,No
2,26,5.1,58.8,24.49,No,Normal,120,80,Normal,Normal,No,No,No
3,26,5.1,86.8,36.16,No,Normal,120,80,Normal,Normal,No,Yes,Yes
4,36,4.8,85.8,42.90,No,Normal,110,80,Normal,Normal,No,No,Yes

In [29]:
new = pd.read_csv('Para_Gravida.csv')
new.shape

(276, 2)

In [14]:
length = df1.shape[0]
length

276

In [7]:
df1['Delivery Type'][0]

'No_delivary'

In [13]:
import random
random.randint(0,3)

0

In [30]:
for i in range(length):
    n = random.randint(0,3)
    if df1['Delivery Type'][i] == 'No_delivary':
        new.Para[i] = (int) 0
        new.Gravida[i] = (int) 1
    else:
        if df1.Age[i]<20:
            if df1.Risk[i] == 'Yes':
                new.Para[i] = (int) 1
                new.Gravida[i] = (int) 2
            else:
                new.Para[i] = (int) 0
                new.Gravida[i] = (int) 1 
        else:
            new.Para[i] = (int) 0
            new.Gravida[i] = (int) 1

In [31]:
new

     Para  Gravida
0     0.0      1.0
1     0.0      1.0
2     0.0      1.0
3     0.0      1.0
4     0.0      1.0
..    ...      ...
271   0.0      1.0
272   0.0      1.0
273   0.0      1.0
274   0.0      1.0
275   0.0      1.0

[276 rows x 2 columns]