In [1]:
import pandas as pd
df = pd.read_csv('Pregnancy Risk.csv')
df.sample(5)

,Unnamed: 0,Age,Height,Weight,BMI,Blood Group ( is Negative?),Delivery Type,Systolic Blood Pressure,Diastolic Blood Pressure,Edema,Anemia,Jaundice,Diabetes,Risk
28,28,19,5.0,63.9,27.51,No,No_delivary,110,70,Normal,Normal,No,No,No
129,129,23,5.1,60.8,25.33,No,Normal,110,70,Normal,Normal,No,No,No
235,235,21,5.2,65.0,26.21,No,No_delivary,120,80,Normal,Normal,No,No,No
55,55,18,5.0,49.9,21.48,No,No_delivary,100,60,Normal,Normal,No,No,Yes
246,246,40,4.1,50.0,22.26,No,No_delivary,120,70,Normal,Normal,No,No,No

In [2]:
df1 = df.drop(['Unnamed: 0'],axis=1)
df1.head(5)

,Age,Height,Weight,BMI,Blood Group ( is Negative?),Delivery Type,Systolic Blood Pressure,Diastolic Blood Pressure,Edema,Anemia,Jaundice,Diabetes,Risk
0,25,5.3,50.7,19.80,No,No_delivary,110,90,Normal,Normal,No,No,No
1,30,5.0,86.3,37.16,No,Normal,110,80,Normal,Normal,No,No,No
2,26,5.1,58.8,24.49,No,Normal,120,80,Normal,Normal,No,No,No
3,26,5.1,86.8,36.16,No,Normal,120,80,Normal,Normal,No,Yes,Yes
4,36,4.8,85.8,42.90,No,Normal,110,80,Normal,Normal,No,No,Yes

In [3]:
new = pd.read_csv('Para_Gravida.csv')
new.shape

(276, 2)

In [4]:
length = df1.shape[0]
length

276

In [5]:
df1['Delivery Type'][0]

'No_delivary'

In [6]:
import random
random.randint(0,3)

2

In [21]:
for i in range(length):
    n = random.randint(1,2)
    if df1['Delivery Type'][i] == 'No_delivary':
        new.Para[i] = 0
        new.Gravida[i] = 1
    else:
        if df1.Age[i]<20:
            if df1.Risk[i] == 'Yes':
                new.Para[i] = 1
                new.Gravida[i] = 2
        else:
            new.Para[i] = n
            new.Gravida[i] = n+1

In [22]:
new

     Para  Gravida
0       0        1
1       2        3
2       2        3
3       1        2
4       1        2
..    ...      ...
271     0        1
272     0        1
273     0        1
274     0        1
275     0        1

[276 rows x 2 columns]

In [23]:
new = new.astype(int)

In [24]:
new

     Para  Gravida
0       0        1
1       2        3
2       2        3
3       1        2
4       1        2
..    ...      ...
271     0        1
272     0        1
273     0        1
274     0        1
275     0        1

[276 rows x 2 columns]

In [25]:
n = pd.concat([df1,new], axis=1, join="inner")
n

,Age,Height,Weight,BMI,Blood Group ( is Negative?),Delivery Type,Systolic Blood Pressure,Diastolic Blood Pressure,Edema,Anemia,Jaundice,Diabetes,Risk,Para,Gravida
0,25,5.3,50.7,19.80,No,No_delivary,110,90,Normal,Normal,No,No,No,0,1
1,30,5.0,86.3,37.16,No,Normal,110,80,Normal,Normal,No,No,No,2,3
2,26,5.1,58.8,24.49,No,Normal,120,80,Normal,Normal,No,No,No,2,3
3,26,5.1,86.8,36.16,No,Normal,120,80,Normal,Normal,No,Yes,Yes,1,2
4,36,4.8,85.8,42.90,No,Normal,110,80,Normal,Normal,No,No,Yes,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,18,5.0,56.0,24.11,No,No_delivary,110,70,Modarate,High,No,No,Yes,0,1
272,18,5.0,56.0,24.11,No,No_delivary,110,70,Modarate,Normal,No,No,No,0,1
273,18,5.0,60.0,25.83,No,No_delivary,120,80,Modarate,Normal,No,No,No,0,1
274,18,4.9,48.0,22.90,No,No_delivary,110,70,Normal,Normal,No,No,No,0,1
275,18,4.9,52.0,24.81,No,No_delivary,100,70,Normal,Normal,No,No,No,0,1

In [26]:
n.to_csv('Test.csv')

In [33]:
n[n.Age<20][n.Risk=='Yes'][n['Delivery Type']=='Normal']

C:\Users\khanm\AppData\Local\Temp\ipykernel_15460\2394815531.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  n[n.Age<20][n.Risk=='Yes'][n['Delivery Type']=='Normal']

,Age,Height,Weight,BMI,Blood Group ( is Negative?),Delivery Type,Systolic Blood Pressure,Diastolic Blood Pressure,Edema,Anemia,Jaundice,Diabetes,Risk,Para,Gravida
34,19,4.9,40.8,19.46,No,Normal,100,70,Normal,Normal,No,Yes,Yes,1,2
178,18,4.6,36.3,19.30,No,Normal,110,60,Normal,Normal,No,No,Yes,1,2
179,18,4.6,39.7,21.10,No,Normal,120,80,Normal,Normal,No,No,Yes,1,2