In [3]:
import pandas as pd
df1 = pd.read_csv('Pregnancy Risk.csv')
df1.shape

(1829, 15)

In [4]:
df2 = pd.read_csv('Pregnancy_no_risk.csv')
df2.shape

(1349, 15)

In [5]:
df3 = pd.read_csv('Pregnancy_risk.csv')
df3.shape

(480, 15)

In [6]:
final = pd.concat([df1,df2,df3],axis=0)

In [7]:
final.shape

(3658, 15)

In [8]:
final

,Age,Height,Weight,BMI,Blood Group ( is Negative?),Delivery Type,Systolic Blood Pressure,Diastolic Blood Pressure,Edema,Anemia,Jaundice,Diabetes,Risk,Para,Gravida
0,25,1.600,50.7,19.80,No,No_delivary,110,90,Normal,Normal,No,No,No,0,1
1,30,1.524,86.3,37.16,No,Normal,110,80,Normal,Normal,No,No,No,1,2
2,26,1.549,58.8,24.49,No,Normal,120,80,Normal,Normal,No,No,No,0,1
3,26,1.549,86.8,36.16,No,Normal,120,80,Normal,Normal,No,Yes,Yes,1,2
4,36,1.422,85.8,42.90,No,Normal,110,80,Normal,Normal,No,No,Yes,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,18,1.499,49.0,21.82,No,No_delivary,150,60,Normal,Low,No,No,Yes,0,1
476,30,1.473,35.0,16.13,No,Normal,120,70,Normal,Normal,No,No,Yes,2,3
477,25,1.473,53.0,24.42,No,Normal,110,100,Normal,Normal,No,No,Yes,2,3
478,25,1.549,45.3,18.87,No,Normal,120,70,Normal,Normal,No,No,Yes,1,4
479,26,1.499,47.0,20.93,No,Normal,100,80,Normal,Normal,Yes,No,Yes,1,3

In [9]:
final.isna().sum()

Age                            0
Height                         0
Weight                         0
BMI                            0
Blood Group ( is Negative?)    0
Delivery Type                  0
Systolic Blood Pressure        0
Diastolic Blood Pressure       0
Edema                          0
Anemia                         0
Jaundice                       0
Diabetes                       0
Risk                           0
Para                           0
Gravida                        0
dtype: int64

In [11]:
final = final.sample(frac=1).reset_index(drop=True)
final

,Age,Height,Weight,BMI,Blood Group ( is Negative?),Delivery Type,Systolic Blood Pressure,Diastolic Blood Pressure,Edema,Anemia,Jaundice,Diabetes,Risk,Para,Gravida
0,19,1.473,54.0,24.88,No,No_delivary,120,80,Normal,Normal,No,No,No,0,1
1,32,1.549,61.3,25.53,No,Normal,120,70,Normal,Normal,No,No,No,2,3
2,21,1.575,52.0,20.97,No,No_delivary,110,80,Normal,Normal,No,No,No,0,1
3,30,1.498,67.0,29.83,No,Normal,120,60,Normal,Low,No,No,Yes,1,3
4,27,1.448,52.0,24.81,No,Normal,110,60,Normal,Normal,No,No,Yes,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3653,28,1.600,58.2,22.73,No,Normal,110,80,Modarate,Normal,No,No,No,1,2
3654,29,1.499,61.0,27.16,No,Normal,130,100,Normal,Normal,No,No,Yes,1,2
3655,25,1.447,46.0,21.97,No,Normal,110,80,Normal,Normal,No,No,No,1,2
3656,32,1.600,57.0,22.26,No,Normal,120,80,Normal,Normal,No,No,No,1,2
3657,22,1.549,55.8,23.26,No,No_delivary,110,70,Normal,Normal,No,No,No,0,1

In [15]:
final[final.Age <18]['Risk'].value_counts()

Yes    34
No     26
Name: Risk, dtype: int64

In [16]:
# final.to_csv('final.csv')